<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{% if self.title() %}{% block title %}{% endblock %} &mdash; {% endif %}RPI Student Senate</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="header" class="border-primary">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/form">Profile</a></li>
                    <li role="presentation"><a href="/surveys">Messages</a></li>
                  </ul>
            </header>
            <div class="main">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                <p>A project of the <a href="https://webtech.union.rpi.edu">Web Technologies Group, a Senate committee</a>.</p>
                <a href="https://sites.google.com/view/rpistugov/student-senate/"><img src="/static/primary_student_senate.svg" class="logo-img"></a>
                <a href="https://webtech.union.rpi.edu"><img src="/static/wtg_logo.svg" class="logo-img"></a>
            </footer>
        </div>
    </body>
</html>
