<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{% if self.title() %}{% block title %}{% endblock %} &mdash; {% endif %}Student Senate Survey</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="main">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                <p>A joint project of the <a href="http://stugov.union.rpi.edu/senate/projects/slc/">Student Life Committee</a>, the <a href="http://stugov.union.rpi.edu/senate/projects/aac/">Academic Affairs Committee</a>, <a href="http://stugov.union.rpi.edu/senate/projects/scg/">Student Government Communications</a>, and the <a href="http://webtech.union.rpi.edu">Web Technologies Group</a> of the <a href="http://stugov.union.rpi.edu/senate/">RPI Student Senate</a>.</p>
                <a href="http://stugov.union.rpi.edu/senate/"><img src="/static/student_senate_logo.png" class="logo-img"></a>
                <a href="http://webtech.union.rpi.edu"><img src="/static/wtg_logo.svg" class="logo-img"></a>
            </footer>
        </div>
    </body>
</html>
