<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{% if self.title() %}{% block title %}{% endblock %}{% else %}Senate Survey{% endif %}</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="main">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                <p>A project of the <b>Web Technologies Group</b>, a Student Senate committee.</p>
                <img src="/static/primary_student_senate.svg" class="logo-img">
                <img src="/static/wtg_logo.svg" class="logo-img">
            </footer>
        </div>
    </body>
</html>
