{% extends "base.html" %}

{% block content %}
            <div class="jumbotron">
                <h1>Summer Arch Survey</h1>
                <p class="lead">This survey is closed. Thank you for your feedback!</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-push-3">
                    <h2>Get involved</h2>
                    <p>The Student Senate would like to thank you for your participation in the survey.</p>
                </div>
            </div>
{% endblock %}
