{% extends "base.html" %}

{% block content %}
            <div class="jumbotron">
                <h1>RPI Student Senate Survey<br />Fall 2016</h1>
                <p class="lead">This survey is now closed. Thank you for your feedback on the quality of care and the ease of access of counseling at RPI.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-push-3">
                    <h2>Get involved</h2>
                    <p>The Student Life Committee would like to thank you for your participation in the survey and your contribution to improving the student experience at Rensselaer. If any students would like to participate in the subcommittee, meetings are held at 6 pm on Tuesdays in the Student Government Suite.</p>
                </div>
            </div>
{% endblock %}
