{% extends "base.html" %}

{% block content %}
            <div class="jumbotron">
                <h1>RPI Student Senate Survey<br />Fall 2017</h1>
                <p class="lead">This survey is closed. Thank you for your feedback!</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-push-3">
                    <h2>Get involved</h2>
                    <p>The Student Senate would like to thank you for your participation in the survey and your contribution to improving the student experience at Rensselaer. If you would like to get involved, please email <a href="mailto:justask@rpi.edu">justask@rpi.edu</a>!</p>
                </div>
            </div>
{% endblock %}
