{% extends "base.html" %}
{% block title %}Export{% endblock %}
{% block content %}
{% raw %}
<script src="/static/angular.min.js"></script>

<script>
angular.module('export', [])
.controller('ExportController', ['$scope', '$http', '$interpolate', function($scope, $http, $interpolate) {

    // These need to match the prefixes of question IDs
    $scope.export_items = [
        {name: 'All', question_prefix: null},
        {name: 'Demographics', question_prefix: 'demographics'},
        {name: 'Residence Life', question_prefix: 'reslife'},
        {name: 'Greek Housing', question_prefix: 'greekHousing'},
        {name: 'Off-Campus Housing', question_prefix: 'offcampus'},
        {name: 'Graduate Council', question_prefix: 'gc'},
        {name: 'Undergraduate Council', question_prefix: 'uc'},
        {name: 'Student Life', question_prefix: 'slc'},
        {name: 'Facilities & Services', question_prefix: 'fsc'},
        {name: 'Academic Affairs', question_prefix: 'aac'},
        {name: 'Hospitality Services', question_prefix: 'hsac'},
        {name: 'Web Technologies', question_prefix: 'wtg'},
        {name: 'Student Government Communications', question_prefix: 'sgcc'},
        {name: 'Community Relations', question_prefix: 'crc'},
        {name: 'Elections Commision', question_prefix: 'ec'},
        {name: 'Diversity and Inclusion', question_prefix: 'dic'},
        {name: 'Arch Task Force', question_prefix: 'atf'},
        {name: 'General', question_prefix: 'general'},
        {name: 'Other (final free-response question)', question_prefix: 'other'},
    ];

    $scope.export_url = function(file_type, question_prefix) {
        if (question_prefix === null) {
            return 'export.' + file_type;
        }
        return 'export.' + file_type + '?question_prefix=' + question_prefix;
    };

}]);
</script>

<div class="masthead">
    <h3 class="text-muted">Export</h3>
</div>

<div ng-app="export">
	<div ng-controller="ExportController">
        <div class="alert alert-info">
            <p><strong>Note:</strong> please use the Excel files. JSON is available if you know what you're doing.</p>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Question category</th>
                <th>Download responses</th>
            </tr>
            <tr ng-repeat="item in export_items">
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ export_url('xlsx', item.question_prefix) }}" class="btn btn-success">Excel</a>
                    <a href="{{ export_url('csv', item.question_prefix) }}" class="btn btn-default">CSV</a>
                    <a href="{{ export_url('json', item.question_prefix) }}" class="btn btn-default">JSON</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endraw %}
{% endblock %}
