{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta property="og:url"                content="https://surveys.union.rpi.edu" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="RPI Student Senate Survey" />
<meta property="og:description"        content="Presidential Selection Committee Student Representative Application." />
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Presidential Selection Committee Student Representative Application</h1>
    <h2>Summer 2021</h2>
    <p class="lead">
        We are requesting applicants for two student representative positions on the Presidential Search Committee.
        These students would work alongside members of the Board of Trustees, alumni, and faculty to determine the 
        future of Rensselaer. Responsibilities include researching and interviewing potential candidates, while 
        voicing the concerns and interests of the current student body. We are looking for someone engaged in campus 
        life, with the capacity for self-reflection and long-term thinking, to represent the student body on this 
        committee.
    </p>
    <p>
        You may only complete this application <b>once</b>, so please review your answers prior to submission.
        Your answers are not saved upon leaving the page.
        Applications will close on <b>Friday, July 23rd</b>.
    </p>
    <p>
        <a class="btn btn-lg btn-danger" href="form">Apply Now</a>
    </p>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Questions for Review</h2>
        <p>
            If you would like to review the long response questions before applying, they are listed below.
            <ul>
                <li>What clubs and extracurricular activities are you involved in on campus?</li>
                <li>What does the future of RPI look like to you?</li>
                <li>What traits are most important in a presidential candidate?</li>
                <li>What perspectives would you bring to the presidential selection committee?</li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Get involved</h2>
        <p>
            If you'd like to help make RPI better, consider joining a Senate committee:
            <ul>
                <li>Academic Affairs</li>
                <li>Community Relations</li>
                <li>Elections Commision</li>
                <li>Facilities and Services</li>
                <li>Hospitality Services Advisory</li>
                <li>Student Government Communications</li>
                <li>Student Life</li>
                <li>Union Annual Report</li>
                <li>Web Technologies</li>
            </ul>
            Check out the <a href="https://sg.rpi.edu/about/senate">Student Senate website</a>
            and join the <a href="https://join.slack.com/t/rpisg/shared_invite/zt-luvtwlpw-yf7cO~OP9qb6J~P7PS45KA">Student Government Slack Channel</a> 
            for more information on getting involved.
        </p>
        <p>
            Student Senate holds open meetings on <b>Webex</b>. Our next meeting will be <b>July 18th at 7 pm</b>.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Need help?</h2>
        <p>
            If you're having trouble logging in, please
            email WebTech at <a href="mailto:webtech@union.lists.rpi.edu">webtech@union.lists.rpi.edu</a>.
        </p>
        <p>
            If you have questions about the content, please email <a href='mailto:gm@rpi.edu'>gm@rpi.edu</a>
        </p>
    </div>
</div>
{% endblock %}
