{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta property="og:url"                content="https://surveys.union.rpi.edu" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="RPI Union New Logo Survey" />
<meta property="og:description"        content="The Union Logo Design Team has worked hard to create the following designs, in hopes of finding a fitting new logo design for our beloved Union that is built, chosen, and voted on by students!" />
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Union New Logo Survey</h1>
    <p class="lead">
        The Union Logo Design Team has worked hard to create the following designs,
        in hopes of finding a fitting new logo design for our beloved Union that
        is built, chosen, and voted on by students! Please review the following
        designs, and choose your first and second favorites. The new logo will
        be revealed in a few weeks!
    </p>
    <p>
        <a class="btn btn-lg btn-danger" href="form">Take survey</a>
    </p>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Completely anonymous</h2>
        <p>While this survey requires that students log in using a valid RCS user ID,
        the survey itself is completely anonymous. The login is merely used to
        authenticate that survey participants are affiliated with RPI, and all
        personally-identifiable user information is deleted after the session is
        complete. An irreversible hash of your RCS ID is recorded to ensure that the
        survey is taken only once, and this hash is not linked to your survey response.
        Furthermore, the open-source code for the survey platform can be found <a
        href="https://github.com/wtg/senate-survey">on GitHub</a>.</p>
    </div>
    <div class="col-lg-4">
        <h2>Get involved</h2>
        <p>
            Check out the <a href="http://sg.rpi.edu">Student Government website</a>
            or email <a href="mailto:justask@rpi.edu">justask@rpi.edu</a> for
            more information on getting involved.
        </p>
        <p>
            Student Senate holds open meetings in the <b>Shelnutt Gallery (RU 3606)</b> every <b>Wednesday at 8 pm</b>.
            Executive Board holds open meetings in the <b>Shelnutt Gallery (RU 3606)</b> every <b>Thursday at 8 pm</b>.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Need help?</h2>
        <p>
            If you're having trouble logging in or taking the survey, please
            email WebTech at <a href="mailto:webtech@union.lists.rpi.edu">webtech@union.lists.rpi.edu</a>.
        </p>
        <p>
            General questions or comments about the survey can be sent to
            <a href="mailto:justask@rpi.edu">justask@rpi.edu</a>.
        </p>
    </div>
</div>
{% endblock %}
